
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{ /* For the Complete Content of the Respective Page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}
body{ /* For the BackGround */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.wrapper{/* For the UI Box */
    background: #46555E; /* For changing the color of the box */
    width: 450px;
    height: 75vh;
    box-shadow: 0 0 128px   0 rgba(0, 0, 0, 0.5), 0 32px 64px -48px rgba(0, 0, 0, 2);/* For adding Shadow */
    border-radius: 16px;
    color: white;
}
.wrapper-login{/* For the UI Box */
    background: #46555E; /* For changing the color of the box */
    width: 450px;
    height: 75vh;
    box-shadow: 0 0 128px   0 rgba(0, 0, 0, 0.5), 0 32px 64px -48px rgba(0, 0, 0, 2);/* For adding Shadow */
    border-radius: 16px;
    color: white;
    padding-top: 135px;
}

/* Signup Form in CSS Code */

.form{
    padding: 25px 30px; /* For Defining the Box */
}

.form header{ /* For the editing added to the header i.e Realtime Chat App */
    font-size: 25px; 
    font-weight: 600;
    padding-bottom: 10px;    
    border-bottom: 1px solid #ccc; /* For changing the color of the box */
}

.form form{ /* For adding spaces */
    margin: 20px 0;
}

.form form .error-txt{ /* For the editing added to the error message */
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .name-details{ /* For the editing added to the name box */
    display: flex;
}

form .name-details .field:first-child{/* For the editing added to the first name */
    margin-right: 10px;
}

form .name-details .field:last-child{/* For the editing added to the last name */
    margin-left: 10px;
}

.form form .field{ /* For the editing added to the input boxes */
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label{ /* For the editing added to the labels like Last Name, Email,etc */
    margin-bottom: 2px;
    margin-top: 10px;
    
}

.form form .field input{ /* For the editing added to all the input areas, basically for creating the border */
    outline: none;

}

.form form .input input{/* For the editing added to all the input areas, basically defines the size of the boxes  */
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .image input{/* For the editing added to the image selection text */
    font-size: 17px;
}

.form form .button input{ /* For the editing added to the button */
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px ;
    font-weight: 400;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form form .field i{ /* For the editing added to the EYE in password */
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .field i.active::before{ /* For the editing added to the EYE in password, whenever the password is visible */
    content:'\f205'; /* The `content` property is used to insert an icon representing an "eye" for toggling password visibility in a form field. */
    color: #333;
}

.form .link{ /* For the editing added to the last thing of the page, already a user or not a user */
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    
}

.form.link a{/* For the adding color to the option of Signup Now or Login Now */
    color: #333;
    
}

.form .link a:hover{ /* For the adding the option to underline to the option of Signup Now or Login Now, whenever the mouse is on it  */
    text-decoration: underline;
    color: #f5c6cb;
}


/* Users Area CSS Code */

.users{
    padding: 25px 30px;

}

.users header,.users-list a{
    display:flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;

}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}

.users header .content img{
    height: 50px;
    width: 50px;

}

:is(.users, .users-list) .details{
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    color: #fff;
    padding: 7px 15px;
    font-size: 17px;
    background: #333;
    border-radius: 5px;
}

.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background: #fff ;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

.users .search button.active{
    color: #fff;
    background: #333 ;
}

.users .search button.active i::before{
    content: "\f00d";
}


.users-list{
    max-height: 490px;
    overflow-y: auto; /* adds the scrolling effect in the no. of users list area */
}

:is(.users-list, .chat-box)::-webkit-scrollbar{ /* Doesn't know the use of it*/
    width: 0px;
}

.users-list a{
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;

}

.users-list a .content p{
    color: #67676a;
}

.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

/*We'll use this class name in php to show offline status */
.users-list a .status-dot.offline{
    color: #ccc;
}

/* Chat Area CSS Code */
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;

}

.chat-area header .back-icon{
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    overflow-y: auto; /* adds the scrolling effect in the chat box area */
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgba(0 0 0 / 5%), inset 0 -32px 32px -32px rgba(0 0 0 / 5%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p{
    word-wrap: break-word; /* If a single word is too long to fit in one line then it breaks the word in different lines, our else an error would occur */
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing{
    display: flex;

}

.outgoing .details{
    margin-left: auto ;
    max-width: calc(100% - 130px);
}

.outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 20px 20px 0 20px;
}

.chat-box .incoming img{
    width :35px;
    height:35px;
}


.chat-box .incoming{
    display: flex;
    align-items: flex-end; /* Photo comes down */

}

.incoming .details{
    margin-left: 10px; /* To make distance btw photo and text */
    margin-right: auto ;
    max-width: calc(100% - 130px);
}

.incoming .details p{
    
    background: #fff;
    color: #333;
    border-radius: 20px 20px 20px 0;
}

.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 18px 18px;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 19px;
    
}


.full-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 5px solid wheat;
    background: #7D878E;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); /* Adjusted shadow */
    border-radius: 20px;
}


.left-imagees{
    width: 550px;
    height: 550px;
}

.site-footer{
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.site-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #7D878E;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;

}

.site-branding{
    margin-left: 20px;
    
}
.brand{
    font-family: 'Rajdhani';
    color: black;
}

.right-side-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    font-size: 14pt;
    gap: 20px;
    
}

.items{
    text-decoration: none;
    color: white;
}

.button-look{
    
    padding: 5px 15px;
    border-radius: 5px;
    background-color:#333;

}

.site-footer:hover{
    background: #46555E;
    color: white;
}


.search{
    background-color: #7D878E;
    padding-left: 8px;
    border-radius: 5px;
}

.users-list{
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    height: 1250px;
    
    margin-bottom: 300px;
}

.chat-box{
    height: 520px;
}

.profile-image{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.profile-imagees{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.user-name{
    font-size: 20pt;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-name:hover {
    border-bottom: 1px dashed white;
    cursor: pointer;
    font-weight: 700;
    color: white;
    
}

.users{
    padding-top: 50px;
}